.job-search-map, .job-search-results {
  margin-top: 1em;

  ul {
    list-style: none;
    margin-top: 0;

    li {
      margin-left: 0;
      padding-top: 1em;
      border-bottom: 1px solid #999;

      transition: background-color 0.25s ease-in;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.job-search-result-apprenticeships {
  margin-top: calc(.667em + 2px); // Same as buttons button padding top
}

.job-search-result {
  .available {
    color: #090;
  }

  .not-available {
    color: #900;
  }
}
